* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: FREERIDE;
}


.header__logo {
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
    margin: 0 auto;
}

.header__logo_shopping-bag{
    margin: 25px;
}

.header__logo_links {
    display: flex;
    width: 150px;
    justify-content: space-between;
    align-items: center;
}

.header__logo_link {
    height: 30px;
   
}

.header__nav-bar {
    width: 100%;
    background-color: #d8b67d;
    height: 80px;
    display:inline-block;
}

.header__nav-bar_wrapper{
    max-width: 1300px;
    height: 80px;
    line-height: 80px;
    margin: 0 auto;

}


.header__menu_items {
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
    height: 30px;
    margin:  0 auto ;
    white-space: nowrap;
}

.header__menu_item {
    font-size: 25px;
}
.header__menu_item > a {
    color: #000;
}








.section {
    max-width: 1300px;
    margin: 0 auto;
}


.wrapper-slider{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.main__info {
    width: 500px;
}

.main__info > h1 {
    font-size: 60px;
}

.main__info > h3 {
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.main__info > button {
    width: 208px;
    height: 47px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #000;
    border-radius: 8px;
    background-color:#d8b67d;
    border: none;
}

.main__info > p {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}
/*slider*/
.wrapper {
    position: relative;
    width: 600px;
    height: 400px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-inline-flexbox;
    display: -o-flex;
    display: flex;
}

.main__slider {
    position: relative;
    overflow: hidden;
    max-width: 1150px;
    height: auto;
}

 .main__slider-items{
    width: 400%;
    height: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-inline-flexbox;
    display: -o-flex;
    display: flex;
} 

.main__slider-items .item{
    width: 25%;
}

.main__slider-items .item img{
    max-width: 100%;
    height: auto;
}

.main__slider-items input {
    position: absolute;
    visibility: hidden;
}

.main__slider-nav{
    position: absolute;
    bottom: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.main__slider-nav .slider-nav-item {
    width: 50px;
    height: 10px;
    border: 2px solid #fff;
    margin: 7px;
    cursor: pointer;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease; 
    transition: all .5s ease;
    opacity: .3;
}

.main__slider-nav .slider-nav-item:hover{
    opacity: 0.7;
}

#s1:checked ~ .s1{
    margin-left: 0;
}

#s2:checked ~ .s1{
    margin-left: -25%;
}


#s3:checked ~ .s1{
    margin-left: -50%;
}

#s4:checked ~ .s1{
    margin-left: -75%;
}